@tailwind base;
@tailwind components;
@tailwind utilities;

/* Blob media queary */

@media not all and (max-height: 1350px) {
  .blob {
    width: 100% !important;
    height: 80% !important;
  }
  .cursor {
    display: none;
  }
  .name {
    font-size: 64px !important;
  }
  .prof {
    font-size: 36px !important;
  }
}

/* Styles for the entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  transition: all 0.5s ease-in-out;
}

/* Track (the area where the thumb doesn't cover) */
::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #434343; /* Set the color of the thumb */
  border-radius: 6px; /* Add rounded corners to the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #282828; /* Change the thumb color on hover */
}

.hero {
  animation-name: animate;
  animation-duration: 5s;
  transition: all 1s ease-in-out;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.dev {
  -webkit-text-stroke: 1px black; /* WebKit browsers */
  text-stroke: 1px black; /* Standard syntax */
  /* Text color */
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  z-index: 9999;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: width 0.3s ease-out, height 0.3s ease-out; /* Adjusted transition property */
}

.grow {
  width: 3.6rem !important;
  height: 3.6rem !important;
}

.cursor div {
  position: absolute;
  display: grid;
  place-items: center;
  pointer-events: 0.1s;
}

.cursor div div {
  background-color: #fff;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
}

.cursor div:nth-child(1),
.cursor div:nth-child(2) {
  width: 100%;
  height: 100%;
}

.cursor div:nth-child(1) {
  transition: transform 0.2s ease-out;
}

.cursor div:nth-child(2) {
  transition: transform 0.1s ease-out;
}

.cursor div:nth-child(2) div {
  background: #000000;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  mix-blend-mode: difference;
}

.removeDot {
  background: #00000000 !important;
}
a {
  cursor: none !important;
}

.custom-shape-divider-top-1704856316 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1704856316 svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 173px;
}

.custom-shape-divider-top-1704856316 .shape-fill {
  fill: #000000;
}
.custom-shape-divider-bottom-1704855364 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1704855364 svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 173px;
}

.custom-shape-divider-bottom-1704855364 .shape-fill {
  fill: #000000;
}
